#menu ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	background-color: #333333;
}

#menu li{
	display:inline-block;
	margin: 5px;
	padding: 5px;
	height: 40px;
	border-right: 2px solid #CCCCCC;
	text-align:center;
	line-height: 40px;
}

#menu li a{
	display:block;
	text-decoration: none;
	color: #FFFFFF;
	padding:5px;
}

#menu li:hover{

background-color: #3388BB;
}
#menu ul li ul {
 display:none;
 }
#menu ul li:hover ul {
 display:block;
 }


#menu li ul {
 position:absolute;
 }


