h1
{
color: Black;
text-align: center;
padding:0%;
}

footer{
background-color:darkgrey;
position:fixed;
bottom:0px;
width:99%;
padding-top:20px;
height:50px;
}


body>header{
	position:relative;
	margin:auto;
	padding:5px;
	background-color:grey;
	text-align:center;
	height:50px;
    border-radius: 10px 10px 0px 0px;
}

body  {
border-radius: 10px;
background:white;
}


body>message{
    background-color:grey;
    border radios: 10px;
}
