body {
background-color: rgba(7, 28, 44, 1);
color:white;
font-family: Oscine Trial W04 Regular;
}
img{
display:block;
width:auto;
margin-left:auto;
margin-right:auto;
}
h2 {
color:deepskyblue;
text-align:center;
vertical-align: middle;
background-color:rgba(7, 28, 44, 1);
border-style:solid;
font-family:monospace;
border-color:deepskyblue;
border-radius: 10px;
height: 50px;
line-height: 50px;
width: 99%;
}

li {
font-size:14px
}

h3 {
position:relative;
left:710px
}


h4 {
position:relative;
left:735px;
}
a {
text-decoration: none;
color:deepskyblue;
}
a:hover{
background-color: deepskyblue;
color:rgba(7, 28, 44, 1);
}
footer{
position:fixed;
bottom:15px;
width:99%;
padding-top:20px;
height:50px;
border-radius:10px 10px 0px 0px;
text-align: center;
}

