body {
background-image: url("../images/background.png");
}
img{
display:block;
width:auto;
margin-left:auto;
margin-right:auto;
}
h2 {

    text-align:center;
    color:blue;
}

li {
font-size:14px
}

h3 {
position:relative;
left:700px
}
ul {
margin:0;
padding:0;
list-style-type: none;
}

h4 {
position:relative;
left:735px;
}
